[submodule "GaemEngien/vendor/spdlog"]
	path = GaemEngien/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/bin/premake"]
	path = vendor/bin/premake
	url = https://github.com/premake/premake-core
